body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17.5px;
    line-height: 25px;
}


/* Header */

/** Music **/
.music{
    background: white;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    display: none
}

header{
    background-color: rgba(219, 53, 53);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/** Header Headings **/
header h1, h4{
    color: white; 
    margin-bottom: 30px;
}

header h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
}

/** Headings **/
h1, h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

h4, h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

h4{
    margin-bottom: 20px;
}

/** Avatar **/
header img{
    border-radius: 160px;
    width: 300px;
    border: 15px solid rgba(2550,255,255,0.9);
}



/* Main */
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px 50px 20px;
}

main img{
    max-width: 100%;
}

/** Text **/

h2{
    margin-top: 50px;
}

h2, a{
    color: rgba(219, 53, 53);
}

a:hover{
    color: rgb(191,150,44)
}

p.caption{
    text-align: center;
    color: #999999;
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
    
}

/* Footer */
footer{
    background-color: rgba(219, 53, 53);
    color: white;
    text-align: center;
    padding: 40px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
    opacity: .7;
    background-color: transparent;
}


/*** Last Updated: 2021/01/25 ***/










