body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17.5px;
    line-height: 25px;
}


/* Header */

/** Audio **/
header audio{
    position: fixed;
    top: 15px;
    left: 15px;
    width: 250px;
    height: 40px;
}

header{
    background-color: rgba(219, 53, 53);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

/** Avatar **/
header img{
    border-radius: 160px;
    width: 300px;
    border: 15px solid rgba(2550,255,255,0.9);
}

/** Headings **/
header h1, h4{
    color: white; 
    margin-bottom: 30px;
}

header h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
}

/** Headings **/
h1, h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

h4, h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

h4{
    margin-bottom: 20px;
}

/* Main */
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px 50px 20px;
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    border: 5px solid rgb(191,150,44,0.3);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

/** Quote **/
.quote{
    padding-top: 22px;
    margin: 5px;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(191,150,44);
}

blockquote span{
    font-size: 30px;
    color: rgb(191,150,44);
}

hr{
    border-bottom: solid;
    color: rgb(191,150,44);
}

/** Text **/

h2{
    margin-top: 50px;
}

h2, a{
    color: rgba(219, 53, 53);
}

a:hover{
    color: rgb(191,150,44);
}

p.caption{
    text-align: center;
    color: #999999;
    font-style: italic;
    font-size: 15px;
    margin-top: 0px;
}

/* Footer */
footer{
    background-color: rgba(219, 53, 53);
    color: white;
    text-align: center;
    padding: 40px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
    opacity: .7;
    background-color: transparent;
}


/*** Last Updated: 2021/01/25 ***/

